<h2 class="page-title">Lost Animal</h2>
<div class="show-container">
  <h3><%= @animal.species.capitalize %></h3>
  <% if @animal.reunited === false %>
    <h4> Animal hasn't been reunited yet</h4>
  <% end %>
  <h4><%= @animal.incident.name %></h4>
  <img src="<%= @animal.image.url %>" alt="">
  <h3><%= @animal.date_lost %></h3>
</div>

