<h2 class="page-title">Current Incidents</h2>

<div class="incident-container">
  <% @incidents.each do |incident| %>
    <a href="/incidents/<%= incident.id %>"> <%= incident.name%> </a>
  <% end %>
</div>