<h2 class="page-title">INCIDENT: <span><%= @incident.name %></span> </h2>

<div class="incident-container">
  <a href="/lost_animals?incident=<%= @incident.id %>">
    <h1>Lost an animal</h1>
  </a>

  <a href="/found_animals?incident=<%= @incident.id %>">
    <h1>Found an animal</h1>
  </a>
</div>