<h1> <%= @incident.name %> </h1>

<a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGl2IJBB6MfeKexafIaVh4LXXWwqoDrpMdrRE50nbqrO8Ah49A">
Lost an animal</a>

<a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLISQLoVzaQwdYnh4f7Pw-bFwd362L4-gF2WYvAZ2o-XwIK5scag">
Found an animal</a>



