<form method='post'>
<label for=''>Name</label>
<input type value=''>
<label for=''>Email</label>
<input type='email' value=''>
<label for=''>Password</label>
<input type='password' value=''>
<label for=''>Confirm Password</label>
<input type='password' value=''>

<button>Sign Up</button>
</form>