<form method='post'>
<label for=''>Email</label>
<input type='email' value=''>
<label for=''>Password</label>
<input type='password' value=''>
<button>Login</button>
</form>

<p> New user ? </p>
<a href='/session/create'> Sign Up </a>

