 <%= form_tag "/session", method: "create" do %>
    <h2 class="page-title">Please Login</h2>
    <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
    <label for=''>Email</label>
    <input type='email' name='email'>
    <label for=''>Password</label>
    <input type='password' name='password'>
    <button>Login</button>
 <% end %>

<p> New user ? </p>
<a href='/users/new'> Sign Up </a>

