<h2 class="page-title">Please Login</h2>
<div class="form-container">
   <%= form_tag "/session", method: "create" do %>
      <div class="form">
         <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
         <label for=''>Email<span>*</span></label>
         <input type='email' name='email' required>
         <label for=''>Password<span>*</span></label>
         <input type='password' name='password' required>
         <button>Login</button>
      </div>
   <% end %>
   <p class="new-user"> New user? <a href='/users/new' class="link-btn"> Sign Up </a> </p>
</div>



