<h2 class="page-title">Sign Up Below</h2>
<div class="form-container">
  <form action='/users' method='post'>
    <div class="form">
      <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
      <label for=''>Name</label>
      <input value='' name='name' required >
      <label for=''>Email</label>
      <input type='email' name='email' required >
      <label for=''>Password</label>
      <input type='password' name='password' required>
      <button>Sign Up</button>
    </div>
  </form>
</div>