// Place all the styles related to the incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'main';

.incident-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.incident-container a {
  width: 80%;
  margin: 10px;
  padding: 10px 0; 
  border-radius: 20px;
  background-color: $warning-color;
  font-family: $raleway;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 3px 3px 10px $font-primary-color;
  opacity: 0.8;
  transition: all ease-in-out 0.2s;
}

.incident-container a:hover {
  transition: all ease-in-out 0.2s;
  opacity: 1;
}

.incident-container a h4 {
  margin: 0;
  color: $font-primary-color;
}

.incident-container a h3 {
  color: $font-secondary-color;
}


.incident-container a h3 span {
  color: $info-color;
}

@media (min-width: 320px) and (max-width: 480px) {

  .incident-container {
    width: 100%;
  }

  .incident-container a {
    width: 100%;
    font-size: 0.8rem;
  }

}